<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">
hare
    <div class="navbar-header">
      <!-- <div class="share-bar"
    data-title="Content Title"
    data-url="Content URL"
    data-image-url="http://lorempixel.com/1080/700/"
    data-hashtags="#example #sharebar">
</div> -->
        <a class="navbar-brand">
            <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
            EJS Is Fun
        </a>

        <!-- <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
        </ul> -->
    </div>

</div>
</nav
